<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="AssetsSection" type="OffchainGUI.AssetConfigurationSection, OffchainGUI"/>
  </configSections>
  <AssetsSection>
    <Assets>
      <add assetId="oaKANVWAUhsoptbJAwZAazVJntBjDs5EDA" assetAddress="QWzJX4ZiGXs1848Q8SXfb8bERnsBMv8iCU6T" name="TestExchangeUSD" privateKey="" definitionUrl="https://www.cpr.sm/-KDPVKLTlL" divisibility="2" />
      <add assetId="oLX63uAaoF6d6ViUWvEkmaeYxmfSUDt7i2" assetAddress="QWzLkLhiB136QHdsZ1Bd9TePBjgNvNifAbpG" name="TestExchangeEUR" privateKey="" definitionUrl="https://www.cpr.sm/SBi9SeNlyB" divisibility="2" />
      <add assetId="oUY5AUGwEWhT48rJZazZP96w5sinRtBJFS" assetAddress="QWzAQUH5i6DQVefqg2ZRqDq1SUyjgJ5yRrSf" name="TestExchangeCHF" privateKey="" definitionUrl="https://www.cpr.sm/RsF85LLGsp" divisibility="0" />
      <add assetId="ofrRzgRTLZNswJ6hC66LZp1NywP3R9QFJ3" assetAddress="QWzBfaAXe9kjhLLHBMeijwYu6KXi3rmR1pjD" name="TestExchangeLKE" privateKey="" definitionUrl="https://www.cpr.sm/7fdGGfIP4a" divisibility="0" />
      <add assetId="oVmfeZm3Lu78U4mV4Dm7qyQrwTZfVzQ3GU" assetAddress="QWz3z5aiTKWYq8T2vSZuYPaA8BBsKTfU5NHa" name="TestExchangeJPY" privateKey="" definitionUrl="https://www.cpr.sm/8O0dlPATHK" divisibility="2" />
      <add assetId="oTdbGujTWwyAhAY9JZfxdcZU5mwjLHmqW8" assetAddress="QWyybWYa4PYoys3AzV1nKCvSqKiw3Mcg89Y5" name="TestExchangeGBP" privateKey="" definitionUrl="https://www.cpr.sm/zSMM_crjR1" divisibility="4" />
    </Assets>
  </AssetsSection>
  <appSettings>
    <add key="WalletPrivateKey" value=""/>
    <add key="Netwrok" value=""/>
    <add key="RPCUsername" value=""/>
    <add key="RPCPassword" value=""/>
    <add key="RPCServerIpAddress" value=""/>
    <add key="RPCServerPort" value=""/>
    <add key ="QBitNinjaBaseUrl" value=""/>
    <add key ="TelnetHostName" value=""/>
    <add key="TelnetPort" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>
